* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
    margin-top: 16px;
}
i {
    color: #16D887;
}

/* Banner Styles */
.banner {
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner/banner1.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-content {
    width: 500px;
    text-align: right;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-title {
    max-width: 450px;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.description {
    max-width: 300px;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}

.btn-primary {
    border: none;
    background: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 20px 25px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
}

/* Failure Section Styles */
.failure-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.peron-image {

}

.peron-image img {
    margin-top: 50px;
    width: 400px;
height: 525px;
}

.failure-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.failure-description-contents {

}

.section-title {
    font-weight: 700;
font-size: 40px;
color: #151414;

}